# Ignore config and secret files
config.config
config.ini
.env
*.key
*.pem

ETL Pipeline/
Task 24/
task 17-23/
orders.csv

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
.env/